body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#menu-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #e0e0d1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #menu-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidemenu Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
}

.sidebar-nav li a:hover {
  color: black;
  text-decoration: underline;
  background-color: #c2c2a3;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
  color: black;
}

.sidebar-nav>.sidebar-brand a:hover {
  background: none;
  text-decoration: none;
  font-weight: bold;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #menu-wrapper {
    width: 0;
  }
  #wrapper.toggled #menu-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Alert Styles */
#success {

	display:none;
	width:350px;
}

#fail {

display:none;
width:350px;
position: center;

}

/* Buttons Styles */
.btn-primary {
  background-color: transparent!important;
  color: black;
  border: 0.5px #00ff80 solid;
}

.btn-primary:hover {
  background-color: #00ff80!important;
  color: white;
  border: 0.5px #00ff80 solid;
}

.btn-secondary {
  background-color: #00ff80;
  color: white;
  border: 0.5px #00ff80 solid;
}

.btn-secondary:hover {
  background-color: white;
  color: black;
  border: 0.5px #00ff80 solid;
}

.deleteButton {
  background-color: white;
  color: black;
  border: 0.5px #ff3333 solid;
}

.deleteButton:hover {
  background-color: #ff3333!important;
  color: white;
  border: 0.5px #ff3333 solid;
}
